# Assets

RECOVER_*.fla

# Build and Release Folders
Export/
bin/

# Other files and folders
.settings/
*.TTF.hash
*.hxproj
Thumbs.db

# IntelliJ project files
*.iml
.idea

#Visual Studio project files
.vscode

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.